---
layout: homepage
author_profile: false
---

<script style="stylesheets">

</script>
{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% for section in site.sections %}
{% assign loopindex = forloop.index | modulo: 2 %}
<section id="{{ section.id }}" class="{% if loopindex != 1 %} gray-section {% endif %}"
         style="padding: 10px;  width: 100%;">
    {% include sections/{{section.tpl}} %}
</section>
{% endfor %}

<script>
    new WOW().init();
</script>