<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center wow bounceInDown">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
        </div>
    </div>
    <div class="row">
        <!-- avatar -->
        <div class="col-sm-4 col-sm-offset-4">
            <div class="wow zoomIn text-center">
                <img src="{{site.baseurl}}/images/{{ site.author.avatar }}" height="110" width="110"
                     class="img-responsive img-circle align-center" alt="">
                <h4 style="color:#3385FF "><span class="navy">{{ site.author.name }}</span></h4>
                <ul class="list-inline" style="color:#3385FF">
                    <li><a href="https://github.com/{{ site.author.github }}" target="blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.facebook.com/{{ site.author.facebook }}" target="blank"><i class="fa fa-facebook"></i></a>
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li></li>
                    <li><a href="{{ site.url}}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p class="text-muted small"><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
        </div>
    </div>
</div>
<br>
<br>
